# Dependencies
node_modules/
__pycache__/
*.pyc
venv/
.venv/

# builds
dist/
build/

# Database
*.db
*.sqlite

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Testing
.pytest_cache/
.coverage
htmlcov/

# Flask
instance/

# app
backend/data/
exports/
